body {
    font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
    background-color: #0D0D15;
    color: #F8F7FF;
    font-size: 18px;
    line-height: 28px;
}

.button {
    border: 2px solid #D0D7FB2B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background-color: transparent;
    color: #F5F8FB;
}

.button--large {
    font-size: 18px;
    line-height: 28px;
}

.button--small {
    font-size: 14px;
    line-height: 20px;
}

.button--primary {
    border: 2px solid #0265DC;
    background-color: #0265DC;
}

.label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #0265DC;
    background-color: #F5F8FB;
}
.label--sold {
    background-color: #EA3829;
    color: #F5F8FB;
}

a {
    text-decoration: none;
    color: #F8F7FF;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4,h5 {
    font-family: 'Bakbak one', Arial, Verdana, Tahoma, sans-serif;
}

h1 {
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    font-weight: 400;
}

h2 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.5px;
}
h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 20px;
    line-height: 26px;
}

.text-center {
    text-align: center;
}

.header__navigation-list {
    list-style: none;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.header__navigation-item {
    padding: 8px 20px 8px 20px;
    border-bottom: 2px solid transparent;
    display: block;
}

.header__navigation-item--active:hover {
    border-bottom-color: #0265DC;
    text-decoration: none;
}

.banner__title--highlited {
    color: #0265DC;
}

.banner__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #d9d9d9
}

.banner-subtitle__count {
    font-family: 'Bakbak one', Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    color:#ffffff66
}

.banner-subtitle__info {
    font-size: 16px;
    line-height: 24px;
    color: #eff5fad1
}

.catalog__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
}

.button--prev:hover,.button--next:hover {
    border: 2px solid #0265DC;
    background-color: #0265DC;
    color: #0D0D15 ;
}

.card__list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.card__item {
    background-color: #1D1C28;
}

.card__price {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.card__author {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #EFF5FAD1;
}

.blog__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
}

.blog__card {
    background-color: #1D1C28;
}

.blog-card__image {
    width: 100%;
    height: auto;
    display: block;
}

.blog-card__info {
    font-size: 14px;
    line-height: 20px;
    color: #EFF5FAD1;
    font-weight: 600;
}

.blog-card__title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.blog-card__subtitle {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #EFF5FAD1;
}

.about__subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #eff5fad1
}

.about__list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.about-item__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0;
    color: #f5f8fb;
}

.about-link__item {
    background-color: #1A1925;
}

.team__list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.team__item {
    background-color: #1D1C28;
    text-align: center;
}

.team-item__photo {
    border-radius: 56px;
}

.team-item__name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #F5F8FB;
}

.team-item__position {
    color: #EFF5FAD1;
}

.team-item__social {
    list-style: none;
    display: flex;
    gap: 10px;
}

.faq__item {
    background-color: #1d1c28;
}

.faq-item__title {
    font-family: 'Bakbak one', Arial, Verdana, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #F5F8FB;
}

.faq__item--highlited {
    color: #0265DC;
}

.faq-item__content {
    font-size: 16px;
    line-height: 24px;
    color: #F5F8FB;
}

.footer{
    background-color: #1A1925;
}

.footer-navigation__title {
    color: #f5f8fb;
}

.footer__subtitle {
    font-size: 14px;
    line-height: 20px;
    color: #F5F8FB;
}

.footer__navigation-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}

.footer-navigation__item {
    color: #F5F8FB;
}

.footer-rights {
    font-size: 14px;
    line-height: 20px;
    color: #F5F8FB;
}

.footer__social-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

/* BLOG */

.blog-banner__breadcrumbs {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #F5F8FB;
}

.breadcrumbs__item--active {
    color: #E7EEF7A8;
}

.sidebar {
    background-color: #1D1C28;
}

.sidebar__title {
    letter-spacing: 0; 
    border-bottom: 1px solid rgba(191 197 238 / .12);
}

.sidebar__categories-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.categories-list__item {
    color: #F5F8FB;
}

.sidebar__tags-list {
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
}

.product__image-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.product__author {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #EFF5FAD1;
}

.product__description-sublist {
    list-style-image: url(Logo.png);
}

.comment {
    background-color: #002754;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 16px;
}

.comment__content{
    font-family: 'Bakbak one', Arial, Verdana, Tahoma, sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

.comment__details{
    color: #EFF5FAD1;
}

.comment__author{
    color: #F8F7FF;
}

.sub-product__description{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

.nft__title{
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

.link__avatar-generator{
    color: #78BBFA;
}

.tags__list{
    list-style: none;
    display: flex;
    gap: 10px;
}

.tags__title,.share__title{
    font-size: 16px;
    line-height: 24px;
}

.share__list{
    list-style: none;
    display: flex;
    gap: 10px;
}