@use '../base/variables' as *;
.footer{
    background-color: $grey11;
}

.sitemap__title {
    color: $grey1;
}

.footer__title {
    font-size: $fs2;
    line-height: $lh2;
    color: $grey1;
}

.sitemap__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap1;
    font-size: $fs1;
    line-height: $lh1;
}

.sitemap__link {
    color: $grey1;
}

.footer__rights {
    font-size: $fs2;
    line-height: $lh2;
    color: $grey1;
}