@use '../base/variables' as *;
.footer{
    background-color: $grey11;
}

.sitemap__title {
    color: $grey1;
}

.footer__title {
    font-size: $fs14;
    line-height: $lh20;
    color: $grey1;
}

.sitemap__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap1;
    font-size: $fs12;
    line-height: $lh16;
}

.sitemap__link {
    &:hover {
        color: $blue2;
        text-decoration: none;
    }

    &:focus {
        outline: $bwidth4 solid $blue4;
        border-radius: $brad5;
    }

    &:active {
        color: $blue3;
    }

    &--disabled {
        color: $grey13;
    }
}


.footer__rights {
    font-size: $fs14;
    line-height: $lh20;
    color: $grey1;
}