@use '../base/variables' as *;

.navigation{
    &__list {
        display: flex;
        font-weight: $f-smb;
        font-size: $fs16;
        line-height: $lh-24;
    }

    &__link {
        color: $grey1;
        padding: 8px 20px 8px 20px;
        border-bottom: $bwidth2 solid transparent;
        display: block;

        &:hover {
            border-bottom-color: $blue1;
        }
    }

    &__link--active{
        border-bottom-color: $blue1;
    }
    
}