@use '../base/variables' as *;
.art {
    background-color: $grey9;
}

.art__image {
    width: 100%;
    height: auto;
    display: block;
}

.art__info {
    font-size: $fs2;
    line-height: $lh2;
    color: $grey2;
    font-weight: $fw3;
}

.art__title {
    font-size: $fs8;
    line-height: $lh8;
    letter-spacing: $ls;
}

.art__subtitle {
    text-align: left;
    font-size: $fs3;
    line-height: $lh3;
    font-weight: $fw1;
    color: $grey2;
}