@use '../base/variables' as *;
.art {
    background-color: $grey9;


    &__image {
        width: 100%;
        height: auto;
        display: block;
    }

    &__info {
        font-size: $fs14;
        line-height: $lh-20;
        color: $grey2;
        font-weight: $f-smb;
    }

    &__title {
        font-size: $fs36;
        line-height: $lh-62;
        letter-spacing: $ls;
    }

    &__subtitle {
        text-align: left;
        font-size: $fs16;
        line-height: $lh-24;
        font-weight: $f-m;
        color: $grey2;
    }
}