@use '../base/variables' as *;
.banner__title--highlited {
    color: $blue1;
}

.banner__subtitle {
    font-weight: $fw3;
    font-size: $fs5;
    line-height: $lh4;
    color: $grey4;
}

.banner-content__count {
    font-family: $ff-secondary;
    font-weight: $fw1;
    font-size: $fs9;
    line-height: $lh8;
    letter-spacing: $ls;
    color: $grey5
}

.banner-content__info {
    font-size: $fs3;
    line-height: $lh3;
    color: $grey2
}