@use '../base/variables' as *;
.benefits {
    list-style: none;
    display: flex;
    gap: $gap4;
}

.benefits__title {
    font-size: $fs6;
    line-height: $lh5;
    font-weight: $fw1;
    color: $grey1;
}

.benefits__card {
    background-color: $grey11;
}