@use '../base/variables' as *;
.button {
    border: $bwidth1 solid $grey6;
    font-weight: $fw3;
    background-color: transparent;
    color: $grey1;
    cursor: pointer;

    &:hover,
    &:active {
            border: $bwidth1 solid $grey7;
            background-color: $grey7;
        }

        &:focus {
            border: $bwidth2 solid $blue2;
            background-color: $grey7;
        }

        &:disabled {
            border: $bwidth1 solid $grey16;
            background-color: $grey17;
        }
}


.button--primary {
    border: $bwidth1 solid transparent;
    background-color: $blue1;

    &:hover {
        background-color: $blue2;
    }

    &:focus {
        border: $bwidth2 solid $blue2;
        background-color: $blue1;
    }

    &:active {
        border: $bwidth1 solid transparent;
        background-color: $blue3;
    }

    &:disabled {
        background-color: $grey17;
        color: $grey16;
    }
}

.button--large {
    font-size: $fs4;
    line-height: $lh4;
}

.button--small {
    font-size: $fs3;
    line-height: $lh1;
}

.button--primary {
    border: $bwidth1 solid $blue1;
    background-color: $blue1;
}

.button--switch:hover {
    border: $bwidth1 solid $blue1;
    background-color: $blue1;
    color: $grey7;
}

.label {
    font-size: $fs2;
    line-height: $lh2;
    font-weight: $fw3;
    color: $blue1;
    background-color: $grey1;
}
.label--sold {
    background-color: $red1;
    color: $grey1;
}