@use '../base/variables' as *;
.button {
    border: $bwidth2 solid $grey6;
    font-weight: $f-smb;
    background-color: transparent;
    color: $grey1;
    cursor: pointer;

    &:hover,
    &:active {
        border-color: $grey7;
        background-color: $grey7;
        text-decoration: none;
    }

    &:focus {
        border-color: $blue2;
        outline: $bwidth4 solid $blue2;
        background-color: $grey7;
    }

    &:disabled {
        border: $bwidth2 solid $grey13;
        background-color: $grey6;
    }
}


.button--primary {
    border-color: transparent;
    background-color: $blue1;

    &:hover {
        background-color: $blue2;
        border-color: $blue2;
    }

    &:focus {
        border-color: $blue2;
        outline: $bwidth4 solid $blue2;
    }

    &:active {
        border-color: transparent;
        background-color: $blue3;
    }

    &:disabled {
        background-color: $grey6;
        color: $grey13;
        border-color: transparent;
    }
}

.button--large {
    font-size: $fs18;
    line-height: $lh28;
}

.button--small {
    font-size: $fs16;
    line-height: $lh16;
}

.button--switch:hover {
    border: $bwidth2 solid $blue1;
    background-color: $blue1;
    color: $grey9;
}

.label {
    font-size: $fs14;
    line-height: $lh20;
    font-weight: $f-smb;
    color: $blue1;
    background-color: $grey1;
}
.label--sold {
    background-color: $red1;
    color: $grey1;
}

.button--card {
    font-size: $fs18;
    line-height: $lh28;
    font-weight: $f-smb;
    color: $grey9;
    background-color: $grey1;
}