@use '../base/variables' as *;
.card {
    background-color: $grey10;
}

.card__price {
    font-size: $fs8;
    line-height: $lh8;
    letter-spacing: $ls;
}

.card__author {
    font-size: $fs5;
    line-height: $lh4;
    font-weight: $fw2;
    color: $grey2;
}