@use '../base/variables' as *;
.comment {
    background-color: $grey12;
    font-size: $fs14;
    line-height: $lh-20;
    font-weight: $f-smb;
    border-radius: $brad16;

    &__content {
        font-family: $ff-secondary;
        font-size: $fs28;
        line-height: $lh-36;
        font-weight: $f-m;
    }

    &__details {
        color: $grey2;
    }

    &__author {
        color: $grey3;
    }
}