@use '../base/variables' as *;
.faq {
    background-color: $grey10;


    &__title {
        font-family: $ff-secondary;
        font-size: $fs24;
        line-height: $lh-32;
        font-weight: $f-m;
        color: $grey1;
    }

    &__link {
        color: $blue4;
    }

    &__content {
        font-size: $fs16;
        line-height: $lh-24;
        color: $grey1;
    }
}