@use '../base/variables' as *;

    .link {
        color: $blue4;
        font-weight: $fw3;

        &:hover {
            color: $blue2;
        }

        &:focus {
            border: $bwidth1 solid $blue2;
            border-radius: $brad1;
        }

        &:active {
            color: $blue3;
        }

        &--disabled {
            color: $grey16;
        }
    }