@use '../base/variables' as *;

    .link {
        color: $grey1;
        font-weight: $f-smb;

        &:hover {
            color: $blue2;
            text-decoration: none;
        }

        &:focus {
            outline: $bwidth4 solid $blue2;
            border-radius: $brad5;
        }

        &:active {
            color: $blue3;
        }

        &--disabled {
            color: $grey13;
        }
    }

    .logo {
        &:hover {
            transition: opacity 0.8s;
            color: $blue2;
            text-decoration: none;
        }
    }