@use '../base/variables' as *;
.subjects {
    background-color: $grey10;


&__sidebar__title {
    border-bottom: $bwidth1 solid $grey18;
}

&__categories {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: $gap1;
    font-size: $fs2;
    line-height: $lh2;
    font-weight: $fw3;
}

&__categories__link {
    color: $grey1;
}

&__tags {
    list-style: none;
    display: flex;
    gap: $gap1;
    font-size: $fs2;
    line-height: $lh2;
}
}