@use '../base/variables' as *;
.subjects {
    background-color: $grey10;


.sidebar__title {
    border-bottom: $bwidth2 solid $grey6;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: $gap1;
    font-size: $fs14;
    line-height: $lh-20;
    font-weight: $f-smb;


    &__categories__link {
        color: $grey1;
    }
}

.tags {
    display: flex;
    gap: $gap1;
    font-size: $fs14;
    line-height: $lh-20;
}
}