@use '../base/variables' as *;
.subjects {
    background-color: $card-bg-color;
}

&__sidebar__title {
    border-bottom: $brd-w-s solid $border-color;
}

&__categories {
    list-style: $list-s;
    display: $disp-f;
    flex-direction: column;
    gap: $gap1;
    font-size: $text-fs-xs;
    line-height: $lh-xs;
    font-weight: $fw-l;
}

&__categories__link {
    color: $color-primary;
}

&__tags {
    list-style: $list-s;
    display: $disp-f;
    gap: $gap1;
    font-size: $text-fs-xs;
    line-height: $lh-xs;
}