@use '../base/variables' as *;
.image-form__description, .image-form__text {
    font-size: $fs3;
    line-height: $lh3;
    font-weight: $fw2;
}

.story__author {
    font-size: $fs2;
    line-height: $lh2;
    font-weight: $fw3;
    color: $grey2;
}

.pointer-list {
    list-style-image: url(../images/Logo.png);
}

.story__subtitle {
    font-size: $fs7;
    line-height: $lh6;
    font-weight: $fw1;
}

.story__link {
    color: $blue4;
}

.story-footer__text {
    font-size: $fs3;
    line-height: $lh3;
}

.story-footer__sublist {
    list-style: none;
    display: flex;
    gap: $gap1;
}