@use '../base/variables' as *;
.illustration__description {
    font-size: $fs16;
    line-height: $lh-24;
}

.story{
    &__author {
        font-size: $fs14;
        line-height: $lh-20;
        font-weight: $f-smb;
        color: $grey2;
    }
    &__subtitle {
        font-size: $fs28;
        line-height: $lh-36;
        font-weight: $f-m;
    }

    &__link {
        color: $blue4;
    }
}
.story-footer{
    &__text {
        font-size: $fs16;
        line-height: $lh-24;
    }

    &__sublist {
        display: flex;
        gap: $gap1;
    }
}
.pointer-list {
    list-style-image: url(../images/Logo.png);
}