@use '../base/variables' as *;
.team__list {
    list-style: none;
    display: flex;
    gap: $gap4;
}

.teammate {
    background-color: $grey10;
    text-align: center;


&__teamate__photo {
    border-radius: $brad3;
}

&__teammate__name {
    font-size: $fs6;
    line-height: $lh5;
    font-weight: $fw1;
    color: $grey1;
}

&__teammate__position {
    color: $grey2;
}

&__social {
    list-style: none;
    display: flex;
    gap: $gap1;
}
}