body {
    font-family: 'Poppins', 'Arial', sans-serif;
    background-color: #0D0D15;
    color: #F8F7FF;
}

a {
    text-decoration: none;
    color: #F8F7FF;
}

h1,h2,h3,h4 {
    font-family: 'Bakbak one', 'Verdana', sans-serif;
}

h1 {
    font-size: 52px;
    line-height: 62px;
    letter-spaci: -0.5px;
    text-align: center;
}

h2,h3 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: center;
}

h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.header-logotype__title{
    color: #0265DC;
}

.header-navigation__list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-navigation__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.header-navigation__item:hover {
    border-bottom: 2px solid #0265DC;
}

.header-discord__link {
    font-size: 18px;
    line-height: 28px;
    width: 150px;
    height: 48px;
    border: 2px solid #D0D7FB2B;
}

.header-login__button{
    font-size: 18px;
    line-height: 28px;
    border: none;
    background: #0265DC;
    color: #F5F8FB;
}

.main-banner__title {
    text-align: left;
}

.banner__title-highlited{
    color: #0265DC;
}

.main-banner__subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.main-banner__count {
    font-family: 'Bakbak one', 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
}

.main-banner__info {
    font-size: 16px;
    line-height: 24px;
}

.main-banner__link {
    font-size: 18px;
    line-height: 28px;
    border: 2px solid #D0D7FB2B;
}

.main-banner__button {
    font-size: 18px;
    line-height: 28px;
    border: none;
    background: #0265DC;
    color: #F5F8FB;
}

.catalog__title {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
}

.catalog-section__link {
    font-size: 18px;
    line-height: 28px;
    border: 2px solid #D0D7FB2B;
}

.catalog__switch-left,.catalog__switch-right {
    border: 2px solid #D0D7FB2B;
    background-color: #0D0D15;
    color: #F5F8FB;
    
}

.catalog__switch-left:hover {
    border: 2px solid #0265DC;
    background-color: #0265DC;
    color: #0D0D15 ;
}

.catalog__switch-right:hover {
    border: 2px solid #0265DC;
    background-color: #0265DC;
    color: #0D0D15 ;
}

.catalog__list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.catalog-item{
    background-color: #1D1C28;
}

.catalog-item__soldlabel {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #F5F8FB;
    background-color: #EA3829;
}

.catalog-item__label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #0265DC;
    background-color: #F5F8FB;
}

.catalog-item__price {
    text-align: left;
}

.catalog-item__author{
    text-align: left;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #EFF5FAD1;
}

.blog__list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
}

.blog__item {
    background-color: #1D1C28;
}

.blog-item__image{
    width: 100%;
    height: auto;
    display: block;
}

.blog-item__label{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #0265DC;
    background-color: #F5F8FB;
}

.blog-item__info{
    font-size: 14px;
    line-height: 20px;
    color: #EFF5FAD1;
}

.blog-item__title{
    text-align: left;
}

.blog-item__subtitle{   
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #EFF5FAD1;
}

.blog-item__link{
    border: 2px solid #D0D7FB2B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}

.link__button{
    border: 2px solid #D0D7FB2B;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.about__subtitle{
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.about__list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.about-item__title{
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.about-item__subtitle{
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.about__item{
    background-color: #1A1925;
}

.team__list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.team__item{
    background-color: #1D1C28;
}

.team-employee__name{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #F5F8FB;
}

.team-employee__position{
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #EFF5FAD1;
}

.emloyee__social-list{
    list-style: none;
    display: flex;
    gap: 10px;
}

.faq__item{
    background-color: #1A1925;
}

.faq-item__title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #F5F8FB;
}

.faq__item-highlited{
    color: #0265DC;
}

.faq-item__content{
    font-size: 16px;
    line-height: 24px;
    color: #F5F8FB;
}

.footer__container{
    background-color: #1A1925;
}

.footer__subtitle{
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: #F5F8FB;
}

.footer__navigation-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
}

.footer-navigation__item{
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: #F5F8FB;
}

.footer-rights{
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: #F5F8FB;
}

.footer_social-links{
    list-style: none;
    display: flex;
    gap: 10px;
}

/* BLOG */

.blog-navigation__list{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.blog-navigation__item{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #F5F8FB;
}

.blog-navigation__text{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #E7EEF7A8;
}

.side-menu__section{
    background-color: #1D1C28;
}

.side-menu__title{
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #F5F8FB;
}

.side-categories__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories__item{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #F5F8FB;
}

.side-tags__list{
    list-style: none;
    display: flex;
    gap: 10px;
}

.tags__item{
    font-size: 18px;
    line-height: 28px;
    width: 150px;
    height: 48px;
    border: 2px solid #D0D7FB2B;
}

.item-image__description{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #F8F7FF;
}

.item__title{
    text-align: left;
}

.blog-item__button{
    font-size: 18px;
    line-height: 28px;
    border: none;
    background: #0265DC;
    color: #F5F8FB;
}

.item__author{
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #EFF5FAD1;
}

.item__description,.item-description__list{
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #F8F7FF;
}

.item-description__sublist{
    list-style-image: url(Logo.png);
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #F8F7FF;
}

.blog-phrase{
    background-color: #002754;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #F8F7FF;
    border-radius: 16px;
}

.phrase__main-content{
    text-align: left;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

.phrase-details{
    color: #EFF5FAD1;
}

.phrase__author{
    font-weight: 600;
    color: #F8F7FF;
}

.additional-images__list{
    list-style: none;
    display: flex;
    gap: 10px;
    text-align: left;
    color: #FFFFFF;
}

.nft-info__title{
    text-align: left;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

.nft-info__subtitle{
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.link__avatar-generator{
    color: #78BBFA;
}

.tags__list{
    list-style: none;
    display: flex;
    gap: 10px;
}

.tags__title,.share__title{
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #F8F7FF;
}

.share__list{
    list-style: none;
    display: flex;
    gap: 10px;
}

.share-list__link{
    border: 2px solid #D0D7FB2B;
}