<section class="catalog-section">
    <h2 class="catalog-section__title">{{ index.catalog.title }}</h2>
    <a class="button button--large" href="#">See All</a> 
    <button class="button button--large button--switch">◀︎</button>
    <button class="button button--large button--switch">▶︎</button>
    <div class="catalog-list">
        {% for item in index.catalog.list %}
        {% include "/card.twig" %}
        {% endfor %}
    </div>          
</section>