<blockquote class="comment">
    <p class="comment__content">{{ blog.story.comment.text }}</p>
    <p class="comment__details">
        <img class="comment__icon" src="{{ blog.story.comment.imgage_src }}" width="16" height="16" alt="Icon"> {{ blog.story.comment.grade }}
        <cite class="comment__author">{{ blog.story.comment.cite }}</cite>
    </p>
</blockquote>