<footer class="footer-section">
    <div class="footer">
        <a class="logotype" href="#">
            <img class="logotype__image" src="images/Logo.png" width="36" height="40" alt="Binabox">
        </a>
        <p class="footer__title">We are the best way to check the rarity of NFT collection.</p>
        <div class="sitemap">
            <strong class="sitemap__title">Navigation</strong>
            <ul class="sitemap__list">
                <li class="sitemap__item">
                    <a class="sitemap__link" href="#">Home</a>
                </li>
                <li class="sitemap__item">
                    <a class="sitemap__link" href="#">Blog</a>
                </li>
                <li class="sitemap__item"> 
                    <a class="sitemap__link" href="#">Catalog</a>
                </li>
                <li class="sitemap__item">
                    <a class="sitemap__link" href="#">Contact Us</a>
                </li>
                <li class="sitemap__item">
                    <a class="sitemap__link" href="#">Terms Conditions</a>
                </li>
                <li class="sitemap__item">
                    <a class="sitemap__link" href="#">Privacy Policy</a>
                </li>
                <li class="sitemap__item">
                    <a class="sitemap__link" href="#">Whitepaper</a>
                </li>
                <li class="sitemap__item">
                    <a class="sitemap__link" href="#">Help Center</a>
                </li>
            </ul>
        </div>
        <p class="footer__rights">BINABOX 2025 - ALL rights reserved</p>
        <ul class="social">
            <li class="social__item">
                <a class="social__link" href="#">
                    <img class="social__image" src="images/Twiter.png" width="24" height="24" alt="Twiter Icon">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <img class="social__image" src="images/Facebook.png" width="24" height="24" alt="Facebook Icon">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <img class="social__image" src="images/Telegram.png" width="24" height="24" alt="Telegram Icon">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <img class="social__image" src="images/LinkedIn.png" width="24" height="24" alt="LinkedIn Icon">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <img class="social__image" src="images/Instagram.png" width="24" height="24" alt="Instagram Icon">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <img class="social__image" src="images/Discord.png" width="24" height="24" alt="Discord Icon">
                </a>
            </li>
        </ul>
    </div>
</footer>