<header class="header">  
    <a class="logotype" href="#">
        <img class="logotype__image" src="images/Logo.png" width="36" height="40" alt="Binabox">
    </a>
    <nav class="navigation">
        <ul class="navigation-list">
            <li class="navigation__item">
                <a class="navigation__link navigation__link--active" href="#">Home</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" href="#">Blog</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" href="#">Catalog</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" href="#">Contact Us</a>
            </li>
        </ul>
    </nav>
    <a class="button button--large" href="#">Discord</a>
    <button class="button button--large button--primary">Login</button>  
</header>