@use 'variables' as *;
body {
    font-family: $ff-primary;
    background-color: $grey9;
    color: $grey3;
    font-size: $fs18;
    line-height: $lh-28;
}

a {
    text-decoration: none;
    color: $grey3;
    font-weight: $f-smb;
}

a:hover {
    text-decoration: underline;
}

.heading {
    text-align: center;
}


h1,h2,h3,h4,h5 {
    font-family: $ff-secondary;
}

h1 {
    font-size: $fs52;
    line-height: $lh-62;
    letter-spacing: $ls;
    font-weight: $f-m;
}

h2 {
    font-size: $fs36;
    line-height: $lh-48;
    letter-spacing: $ls;
}

h3 {
    font-size: $fs28;
    line-height: $lh-36;
    letter-spacing: $ls
}
h4 {
    font-size: $fs28;
    line-height: $lh-32;
}

h5 {
    font-size: $fs20;
    line-height: $lh-24;
}

ol, ul {
    list-style: none;
}
