/* colors */
$grey1: #F5F8FB;
$grey2: #EFF5FAD1;
$grey3: #F8F7FF;
$grey4: #d9d9d9;
$grey5: #ffffff66;
$grey6: #D0D7FB2B;
$grey7: #BFC5EE1F;
$grey8: #E7EEF7;
$grey9: #0D0D15;
$grey10: #1D1C28;
$grey11: #1A1925;
$grey12: #002754;
$grey13: #E5ECFB5C;


$grey14: #D4D9F242;
$grey15: #202631;
$grey16: #E7EEF7A8;



$blue1: #0265DC;
$blue2: #3892F3;
$blue3: #0054B6;
$blue4: #78BBFA;
$blue5: #B5DEFF;
$blue6: #96CEFD;


$red1: #EA3829;



/* font-family */
$ff-primary: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
$ff-secondary: 'Bakbak one', Arial, Verdana, Tahoma, sans-serif;


/* letter-spasing */
$ls: -0.5px;


/* line-heights */
$lh16: 16px;
$lh20: 20px;
$lh24: 24px;
$lh28: 28px;
$lh32: 32px;
$lh36: 36px;
$lh48: 48px;
$lh62: 62px;


/* font-weight */
$f-m: 500;
$f-smb: 600;


/* font-size */
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;
$fs28: 28px;
$fs36: 36px;
$fs52: 52px;

/* Border radius */
$brad4: 4px;
$brad5: 5px;
$brad16: 16px;
$brad56: 56px;

/* border width */
$bwidth1: 1px;
$bwidth2: 2px;
$bwidth3: 3px;
$bwidth4: 4px;
$bwidth5: 5px;


/* Gap */
$gap1: 10px;
$gap2: 20px;
$gap3: 30px;
$gap4: 40px;

/* input size */
$size16: 16px;
