/* colors */
$grey1: #F5F8FB;
$grey2: #EFF5FAD1;
$grey3: #F8F7FF;
$grey4: #d9d9d9;
$grey5: #ffffff66;
$grey6: #D0D7FB2B;
$grey7: #BFC5EE1F;
$grey8: #E7EEF7A8;
$grey9: #0D0D15;
$grey10: #1D1C28;
$grey11: #1A1925;
$grey12: #002754;
$grey13: #D0D7FB2B;
$grey14: #BFC5EE1F;
$grey15: #E7EEF7A8;
$grey16: #E5ECFB5C;
$grey17: #D0D7FB2B;
$grey18: rgba(191 197 238 / .12);

$blue1: #0265DC;
$blue2: #3892F3;
$blue3: #0054B6;
$blue4: #78BBFA;

$red1: #EA3829;



/* font-family */
$ff-primary: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
$ff-secondary: 'Bakbak one', Arial, Verdana, Tahoma, sans-serif;


/* letter-spasing */
$ls: -0.5px;


/* line-heights */
$lh1: 16px;
$lh2: 20px;
$lh3: 24px;
$lh4: 28px;
$lh5: 32px;
$lh6: 36px;
$lh7: 48px;
$lh8: 62px;


/* font-weight */
$fw1: 400;
$fw2: 500;
$fw3: 600;


/* font-size */
$fs1: 12px;
$fs2: 14px;
$fs3: 16px;
$fs4: 18px;
$fs5: 20px;
$fs6: 24px;
$fs7: 28px;
$fs8: 36px;
$fs9: 52px;

/* Border radius */
$brad1: 5px;
$brad2: 16px;
$brad3: 56px;

/* border width */
$bwidth1: 2px;
$bwidth2: 4px;

/* Gap */
$gap1: 10px;
$gap2: 20px;
$gap3: 30px;
$gap4: 40px;